font-size = 18
background-opacity = 0.7
copy-on-select = clipboard
working-directory = "/home/lono/cave"
# TODO check if it still mass copies later
app-notifications = "no-clipboard-copy"
auto-update = "off"
font-family = ""
font-family = "Agave Nerd Font"
font-family-bold = "Agave Nerd Font"
window-theme = dark
window-inherit-working-directory = true
shell-integration = fish
gtk-custom-css = ./ghostty_tabs.css
window-padding-x = 0
window-padding-y = 0
resize-overlay = "never"
cursor-style-blink = false
shell-integration-features = "no-cursor"
cursor-style = "bar"
window-padding-balance = true
window-padding-color = "extend-always"
# it makes the bar transparent
adw-toolbar-style = flat
# theme = "Liquid Carbon Transparent Inverse"
# theme = "Aura"
# theme = "Tomorrow Night Burns"
theme = "Vesper"
# theme = "Black Metal"
# theme = "Fahrenheit"
# theme = "Firefly Traditional"
# theme = "12-bit Rainbow"
# theme = Medallion
# theme = Mathias

keybind = alt+n=new_tab
keybind = ctrl+v=paste_from_clipboard
keybind = alt+7=unbind
keybind = alt+8=unbind
keybind = alt+digit_7=unbind
keybind = alt+digit_8=unbind

# window-decoration = none
# gtk-wide-tabs = false
# window-decoration = server
# gtk-tabs-location = hidden
# adw-toolbar-style = raised-border

# Cursor issue
# https://github.com/ghostty-org/ghostty/discussions/2812#discussioncomment-12035211
# https://github.com/ghostty-org/ghostty/discussions/2812
# Copy-notification spam issue
# https://github.com/ghostty-org/ghostty/issues/4800
# How to reduce ghostty startup timecost Issue:
# https://github.com/ghostty-org/ghostty/discussions/6611

# Commands
# ghostty +list-keybinds --default
# ghostty +list-themes
# ghostty +list-fonts
# ghostty +show-config --default --docs
